.example {
    width: 100%;
    aspect-ratio: 16/7;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    cursor: grab;   
    margin: 1rem 0;
}

.example:active {
    cursor: grabbing;
}